<div class="p-4 bg-gray-100">
  <h1 class={@header}>Lorem ipsum</h1>
  <p class={class([
    "flex items-center justify-between",
    {"text-green-600", @condition}
  ])}>
    Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
  </p>
</div>
