name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        version: [stable, nightly]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Neovim
        shell: bash
        run: |
          mkdir -p /tmp/nvim
          wget -q https://github.com/neovim/neovim/releases/download/${{ matrix.version }}/nvim.appimage -O /tmp/nvim/nvim.appimage
          cd /tmp/nvim
          chmod a+x ./nvim.appimage
          ./nvim.appimage --appimage-extract
          echo "/tmp/nvim/squashfs-root/usr/bin/" >> $GITHUB_PATH

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install parsers
        run: |
          nvim --headless -u tests/init.lua -c "luafile tests/parsers.lua"

      - name: Install tailwindcss-language-server
        run: npm install -g @tailwindcss/language-server

      - name: Install test project dependencies
        run: cd tests/lsp/project && npm install

      - name: Run Tests
        run: |
          nvim --version

          nvim -u "tests/init.lua" --headless "+checkhealth tailwind-tools" "+w! health.log" +qa

          if grep -q "ERROR" health.log; then
            exit 1
          fi

          nvim --headless -u tests/init.lua -c "PlenaryBustedDirectory tests/ { init='tests/init.lua' }"
