name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        version: [stable, nightly]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.version }}

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install parsers
        run: |
          nvim --headless -u tests/init.lua -c "luafile tests/parsers.lua"

      - name: Install npm dependencies
        run: |
          echo "Installing global packages..."
          npm install -g neovim @tailwindcss/language-server
          npm list -g --json | jq -r '.dependencies | to_entries[] | "- \(.key) \(.value.version)"'

          echo "Installing test projects dependencies..."
          cd tests/lsp/v3 && npm install
          cd ../v4 && npm install

      - name: Run checkhealth
        run: |
          nvim --version
          nvim --headless -u tests/init.lua "+checkhealth tailwind-tools" "+w! health.log" +qa
          cat health.log

          if grep -q "ERROR" health.log; then
            exit 1
          fi

      - name: Run Tests
        run: nvim --headless -u tests/init.lua -c "PlenaryBustedDirectory tests/ { init='tests/init.lua' }"
